
MyWorldPanel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid green;
    color: white;
    background-color: black;
    opacity: 0.25;
    border-radius: 5px;

    label {
        font-family: 'Times New Roman';
        font-weight: 700;
        //text-shadow: 2px 2px 2px rgba(black, 0.1);
        color: white;
        width: 160%;
        //height: 300%;
    }

    .center {
        border: 3px solid green;
    }

    .text {
        /// padding: 70px 0;
        opacity: 0.25;
        //margin-top: 32px;
        font-size: 14px;
    }
}
